html, body{
    margin-left: 0;
    padding: 0;

}
#navbar-links > li>a:hover {
    text-decoration: underline;

}
#header > img{
    border-radius: 50px;
}
#img-header{
    border-radius: 40px;
    display: flex;
    height: 600px;
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

}

#main-search{
    width: 90%;
    display: flex;
    border-radius: 30px;
    padding: 30px;
}
#btn-search-main{
    width: 70px;
    height: 50px;
    border-radius: 200px;
}
#b-down{
    width: 70px;
    margin-top: 20px;
    position: absolute;
    /* here you can add bg */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding-left: 4px;
    margin-top: 10px;
}

#aboutus-1{
    width: 450px;
    height: 650px;
    display: flex;
    position: absolute;
    border-radius: 0 30px 30px 0;
    background-color: rgb(224, 235, 241);

}

.container-fluid{
    margin: 0;
    padding: 0;
}
#abour-us-pic{
    width: 350px;
    height: 450px;
    margin-left: 250px;
    border-radius: 40px;
    margin-top: 100px;
    border: 10px solid white;
}
#btn-abus{
    color: white;
    border-radius: 50px;

}
#abus2{
    margin-top: 200px;
}

#card-img{
    height: 300px;
    border-radius:  20px 20px 0 0 ;
}
.card{
    border-radius: 20px;
    
}